<!-- for logo -->
<div class="logo text-center">
    <img  width="300"  src="assets/fitness.png" alt="not found">
</div>

<!-- ragistration page starting -->
<div class="registration-form m-3 p-4">
    <form [formGroup]="registerForm">
        <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input formControlName="firstName" matInput placeholder="First Name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input formControlName="lastName" matInput placeholder="Last Name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Email">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Mobile</mat-label>
                <input formControlName="mobile" matInput placeholder="Mobile">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Weight</mat-label>
                <input formControlName="weight" type="number"  matInput placeholder="Weight">
                <mat-icon matSuffix>assignment_late</mat-icon>
                <mat-hint>Unit is KGs</mat-hint>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Height</mat-label>
                <input [readonly]="!this.registerForm.value.weight" formControlName="height" type="number"  matInput placeholder="Height">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Unit is meter</mat-hint>
            </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
              <mat-label>BMI</mat-label>
              <input readonly formControlName="bmi" type="number" matInput placeholder="BMI">
              <mat-icon matSuffix><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
              <mat-hint>Unit is Kgs/meter</mat-hint>
          </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
            <mat-label>BMI Result</mat-label>
            <input readonly formControlName="bmiResult"   matInput placeholder="BMI Result">
            <mat-icon matSuffix><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
            <mat-hint>Unit is meter</mat-hint>
        </mat-form-field>
    </div>

        <div class="col-md-6 mt-3">
            <label id="example-radio-group-label">Do you have trainer?</label>
            <mat-radio-group class="example-radio-group" formControlName="opt" >
              <mat-radio-button class="example-radio-button" *ngFor="let trainerOpt of ['Yes','No']" [value]="trainerOpt">
                {{trainerOpt}}
              </mat-radio-button>
            </mat-radio-group>
          <div>Selection option is:{{ registerForm.controls['opt'].value }}</div> 
        </div>
    
        <div class="col-md-6 mt-3">
            <label id="example-radio-group-label">Gender</label>
            <mat-radio-group class="example-radio-group" formControlName="gender" >
              <mat-radio-button class="example-radio-button" *ngFor="let gender of gender" [value]="gender">
                {{gender}}
              </mat-radio-button>
            </mat-radio-group>
            <div>Selection gender is:{{registerForm.controls['gender'].value}} </div> 
        </div>

        <div class="col-md-6 mt-3">
            <mat-form-field appearance="outline">
                <mat-label>Select your package</mat-label>
                <mat-select formControlName="package">
                  <mat-option *ngFor="let package of packages" [value]=" package">
                    {{ package}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="col-md-6 mt-3">
            <mat-form-field appearance="outline">
                <mat-label>Which of the following is importanat for your?</mat-label>
                <mat-select multiple formControlName="important">
                  <mat-option *ngFor="let importanat of importanatList" [value]=" importanat">
                    {{ importanat}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="col-md-6 mt-3">
            <label id="example-radio-group-label">Have been gym before?</label>
            <mat-radio-group class="example-radio-group" formControlName="havebeengym">
              <mat-radio-button  class="example-radio-button" *ngFor="let beenGym of ['Yes','No']" [value]="beenGym">
                {{beenGym}}
              </mat-radio-button>
            </mat-radio-group>
            <div>Selected option is: {{registerForm.controls['havebeengym'].value}}</div> 
        </div>
    
        <div class="col-md-6 mt-3">
            <mat-form-field appearance="outline">
                <mat-label>Enquiry date</mat-label>
                <input formControlName="enquirydate" matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div> 
    
      </div>
      <button *ngIf="!isUpdateActive" (click)="submit()" class="mt-4" mat-raised-button color="accent">Submit</button>
      <button *ngIf="isUpdateActive" (click)="update()" class="mt-4" mat-raised-button color="accent">Update</button>
    </form>
</div>
